* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    font: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #05445E;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #D4F1F4;
}

